@charset "UTF-8";

body {
    background-image: linear-gradient(to right, blue, white, lightpink);
}
h1{
    text-align: center;
    }
nav > a > button:hover {
    transform: scale(1.2);
}
img {
    height: 300px !important;
    width: 250x !important;
    object-fit: cover;
    border-radius: 10px;
}
.meio{
    text-align: center;
}
figure{
    margin: auto;
}